<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {title: "Edit Pokemon"}) %>
<body>
    <%- include("./partials/header.ejs", {title: "Edit Pokemon"}) %> 
    <div buttoneditdiv>
        <a href="/Pokedex"><button type="button" id="buttonedit">Home/button></a><br>
        <a href="/Pokedex/<%=index%>"><button type="button" id="buttonedit">Show</button></a>
        <input id="buttonedit" type="submit" value="UPDATE">
    </div>

    <div class="container">     
        <form action="/Pokedex/<%= index %>?_method=PUT" method="POST">
            <fieldset>
                <legend>Update Basic Information</legend>
                <div class="basic">
                    Name: <input type="text" name="name" value="<%=pokemonInfo.name%>">
                    Image: <input type="text" name="img" size="50" value="<%=pokemonInfo.img%>"><br>
                </div>
            </fieldset>

            <fieldset>
                <legend class="legend">Types</legend>
                <div class="type">
                    Type: <input type="text" name="type" size="50" value="<%=pokemonInfo.type.toString()%>"><br>
                </div>
            </fieldset>
            
            <fieldset>
                <legend class="legend">Stats</legend>
                <div class="stats"> 
                    <% Object.entries(pokemonInfo.stats).forEach((v, index) =>{ %>
                            <%=v[0]%>: <input type="text" name="stats" value="<%=v[1]%>"><br>
                        <% }) %> 
                </div>
            </fieldset>
            
            <fieldset>
            <legend>Damages</legend>
                <div class="damages">
                        <% Object.entries(pokemonInfo.damages).forEach((v, index) =>{ %>
                        <%=v[0]%>: <input type="text" name="damages" value="<%=v[1]%>"><br>
                        <% }) %> 
                </div>
            </fieldset>

            </form>
    </div>
</body>
</html>