<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include("./partials/head.ejs", {title: "Update Pokemon"}) %>
    </head>
</head>
<body>
    
    <div class="container">     
        <h1>Update Pokemon</h1>
            <form action="/Pokedex/<%= index %>?_method=PUT" method="POST">
                <div class="basic">
                    <h4>Basic Pokemon Information</h4>
                    Name: <input type="text" name="name" value="<%=pokemonInfo.name%>"><br>
                    Image: <input type="text" name="img" size="50" value="<%=pokemonInfo.img%>"><br>
                </div>
                <hr><br>
                <div class="type">
                    <h4>Types</h4>
                        Type: <input type="text" name="type" size="50" value="<%=pokemonInfo.type.toString()%>"><br>
                </div>

                <hr><br>
              
                <div class="stats"> 
                    <h4>Stats</h4>
                    <% Object.entries(pokemonInfo.stats).forEach((v, index) =>{ %>
                        <%=v[0]%>: <input type="text" name="stats" value="<%=v[1]%>"><br>
                        <% }) %> 
              
                <hr><br>
                <div class="damages">
                    <h4>Damages</h4>    
                    <% Object.entries(pokemonInfo.damages).forEach((v, index) =>{ %>
                        <%=v[0]%>: <input type="text" name="damages" value="<%=v[1]%>"><br>
                        <% }) %> 
                </div>

                <hr><br>

                <input type="submit" value="UPDATE">
            </form>
    </div>
</body>
</html>