<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {title: "Pokedex"}) %>
<body>
    <%- include("./partials/header.ejs", {title: "Pokedex"}) %>       
    <div>
            <a href="/Pokedex/new" >
                <button type="button" id="buttonedit">Add a New Pokemon</button>
            </a>
    </div>
    <div class="papa-container">
        <% allpokemon.forEach((v, index) =>{ %>           
        <div id="card">
            <a  href="/Pokedex/<%=index%>">
                    <img src="<%=v.img%>" class="poke-image" alt="<%=v.name%>">
            </a>
            <div class="info-container">   
                <h4><b><%=v.name%></b></h4>
                <div class="buttons">
                    <a href="/Pokedex/<%=index%>"><button type="button" id="button">View</button>
                    </a>
                    <a href="/Pokedex/<%=index%>/edit"><button type="button" id="button">Edit</button>
                    </a>
                    <form action="/Pokedex/<%= index %>?_method=DELETE" method="POST" >
                        <input id="button" type="submit" value="Delete">
                    </a>
                </div>
            </div>
        </div>
            
        <% }) %> 
     </div>
</body>
</html>