<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs", {title: "View Pokemon"}) %>
<body>
    <%- include("./partials/header.ejs", {title: "View Pokemon"}) %>
    <div style="display: block-line;">
            <a href="/Pokedex" ><button id="buttonedit" >Home</button></a>
            <a href="/Pokedex/<%= index %>/edit" type="button"><button id="buttonedit">EDIT</button></a>
            <form action="/Pokedex/<%= index %>?_method=DELETE" method="POST" >
                <input id="button" type="submit" value="Delete">
    </div>
    <div class="container showname">
        <h1><%=pokemonInfo.name%></h1>

        <div>
            <img src="<%=pokemonInfo.img%>"  alt="<%=pokemonInfo.name%>" class="showimage">
        </div>
        <div class="type">
            <ul>Pokemon Types</ul>
            <% pokemonInfo.type.forEach((v, index) =>{ %>
                <li class="type"> <%=v%></li>              
            <% }) %> 
        </div>
        <div class="stats">
            <ul>Pokemon Stats</ul> 
                <% Object.entries(pokemonInfo.stats).forEach((v, index) =>{ %>                
                    <li class="stats"><%=v[0]%>: <%=v[1]%></li>
                <% }) %>
        </div>

        <div class="damages">
            <ul>Pokemon Damages</ul> 
                <%  Object.entries(pokemonInfo.damages).forEach((v, index) =>{ %>                
                        <li class="damages"><%=v[0]%>: <%=v[1]%></li>
                <% }) %>
        </div>
    </div>

     
</body>
</html>