<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <%- include("./partials/head.ejs", {title: "View Pokemon"}) %>
    </head>
</head>
<body>
    <div class="container">
        <h1><%=pokemonInfo.name%></h1>
        <div>
            <a href="/Pokedex"><button type="button">BACK</button></a>
            <a href="/Pokedex/<%= index %>/edit"><button>EDIT</button></a>
        </div>
        <div>
            <img src="<%=pokemonInfo.img%>"  alt="<%=pokemonInfo.name%>">
        </div>
        <div class="type">
            <ul>Pokemon Types</ul>
            <% pokemonInfo.type.forEach((v, index) =>{ %>
                <li class="type"> <%=v%></li>              
            <% }) %> 
        </div>
        <div class="stats">
            <ul>Pokemon Stats</ul> 
                <% Object.entries(pokemonInfo.stats).forEach((v, index) =>{ %>                
                    <li class="stats"><%=v[0]%>: <%=v[1]%></li>
                <% }) %>
        </div>

        <div class="damages">
            <ul>Pokemon Damages</ul> 
                <%  Object.entries(pokemonInfo.damages).forEach((v, index) =>{ %>                
                        <li class="damages"><%=v[0]%>: <%=v[1]%></li>
                <% }) %>
        </div>
    </div>

     
</body>
</html>